apiVersion: v1
appVersion: '22.14.5'
description: Universal dependency update tool that fits into your workflows.
name: renovate
version: '22.14.5'
icon: https://docs.renovatebot.com/assets/images/logo.png
home: https://github.com/renovatebot/renovate
keywords:
  - automated
  - dependencies
  - dependency
  - management
  - update
sources:
  - https://github.com/renovatebot/renovate
maintainers:
  - name: JamieMagee
