apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ include "renovate.fullname" . }}
  labels:
    {{- include "renovate.labels" . | nindent 4 }}
  {{- with .Values.cronjob.labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- if .Values.cronjob.annotations }}
  annotations:
    {{ toYaml .Values.cronjob.annotations | nindent 4 }}
{{- end }}
spec:
  schedule: "{{ .Values.cronjob.schedule }}"
  {{- with .Values.cronjob.concurrencyPolicy }}
  concurrencyPolicy: {{ . }}
  {{- end }}
  {{- with .Values.cronjob.failedJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ . }}
  {{- end }}
  {{- with .Values.cronjob.successfulJobsHistoryLimit }}
  successfulJobsHistoryLimit: {{ . }}
  {{- end }}
  jobTemplate:
    metadata:
      labels:
        {{- include "renovate.selectorLabels" . | nindent 8 }}
    spec:
      backoffLimit: {{ .Values.cronjob.jobBackoffLimit }}
      template:
        metadata:
          labels:
            {{- include "renovate.selectorLabels" . | nindent 12 }}
          {{- with .Values.pod.labels }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
        {{- if .Values.pod.annotations }}
          annotations:
            {{ toYaml .Values.pod.annotations | nindent 12 }}
        {{- end }}
        spec:
          serviceAccountName: {{ include "renovate.serviceAccountName" . }}
          restartPolicy: {{ .Values.cronjob.jobRestartPolicy }}
          containers:
            - name: {{ .Chart.Name }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              {{- if or .Values.renovate.config .Values.ssh_config.enabled }}
              volumeMounts:
              {{- if .Values.renovate.config }}
              - name: config-volume
                mountPath: /usr/src/app/config.json
                subPath: config.json
              {{- end }}
              {{- if .Values.ssh_config.enabled }}
              - name: ssh-config-volume
                mountPath: /home/ubuntu/.ssh
                readOnly: true
              {{- end }}
              {{- end }}
              {{- if or .Values.redis.enabled .Values.renovate.externalConfigFile .Values.env }}
              env:
                {{- if .Values.renovate.externalConfigFile }}
                - name: RENOVATE_CONFIG_FILE
                  value: {{ .Values.renovate.externalConfigFile }}
                {{- end }}
                {{- if .Values.redis.enabled }}
                - name: RENOVATE_REDIS_URL
                  value: redis://{{ template "redis.fullname" (set (deepCopy .) "Values" .Values.redis) }}-master
                {{- end }}
                {{- range $k, $v := .Values.env }}
                - name: {{ $k | quote }}
                  value: {{ $v | quote }}
                {{- end }}
              {{- end }}
              {{- if or .Values.secrets .Values.existingSecret .Values.envFrom }}
              envFrom:
                {{- if or .Values.secrets .Values.existingSecret }}
                - secretRef:
                    name: {{ template "renovate.secretName" . }}
                {{- end }}
                {{- with .Values.envFrom }}
                  {{- toYaml . | nindent 16 }}
                {{- end }}
              {{- end }}
              resources:
                {{ toYaml .Values.resources | nindent 16 }}
          volumes:
            {{- if .Values.renovate.config }}
            - name: config-volume
              configMap:
                name: {{ include "renovate.fullname" . }}-config
            {{- end }}
            {{- if .Values.ssh_config.enabled }}
            - name: ssh-config-volume
              secret:
                secretName: {{ include "renovate.sshSecretName" .}}
            {{- end }}
        {{- with .Values.nodeSelector }}
          nodeSelector:
            {{ toYaml . | nindent 12 }}
        {{- end }}
        {{- with .Values.affinity }}
          affinity:
            {{ toYaml . | nindent 12 }}
        {{- end }}
        {{- with .Values.tolerations }}
          tolerations:
            {{ toYaml . | nindent 12 }}
        {{- end }}
        {{- with .Values.securityContext }}
          securityContext:
            {{ toYaml . | nindent 12 }}
        {{- end }}
        {{- with .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 12 }}
        {{- end }}
