{{- if and .Values.ssh_config.enabled (not .Values.ssh_config.existingSecret) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "renovate.sshSecretName" . }}
  labels:
    {{- include "renovate.labels" . | nindent 4 }}
type: Opaque
data:
{{- if .Values.ssh_config.config }}
  config: {{- .Values.ssh_config.config | b64enc | indent 2}}
{{ end -}}
{{- if .Values.ssh_config.id_rsa }}
  id_rsa: {{- .Values.ssh_config.id_rsa | b64enc | indent 2 }}
{{ end -}}
{{- if .Values.ssh_config.id_rsa_pub }}
  id_rsa.pub: {{- .Values.ssh_config.id_rsa_pub | b64enc | indent 2 }}
{{ end -}}
{{- end }}
