name: devcontainer
on:
  push:
    branches:
      - '**'
      - '!main'
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

jobs:
  devcontainer-test:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || (github.repository_owner != github.event.pull_request.head.repo.owner.login && github.event.pull_request.draft != true)
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          submodules: true

      - name: Build and run dev container task
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
        with:
          runCmd: ct lint --config .github/ct.yaml --charts charts/renovate
          env: GITHUB_TOKEN
        env:
          GITHUB_TOKEN: ${{ github.token }}
